* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    color: red;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
    width: 100%;
}

table {
    width: 100%;
    border-style: groove;
}

table thead {
    background-color: red;
    color: white;
    font-size: x-large;
}

table tbody {
    background-color: rgb(224, 222, 222);
}